formulario/Connected Services/ServiceEjercicio1/WebEjercicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCotizacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCotizacion" />
  </wsdl:message>
  <wsdl:message name="obtenerCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCotizacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebEjercicio1Soap">
    <wsdl:operation name="obtenerCotizacion">
      <wsdl:input message="tns:obtenerCotizacionSoapIn" />
      <wsdl:output message="tns:obtenerCotizacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebEjercicio1Soap" type="tns:WebEjercicio1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCotizacion">
      <soap:operation soapAction="http://tempuri.org/obtenerCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebEjercicio1Soap12" type="tns:WebEjercicio1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCotizacion">
      <soap12:operation soapAction="http://tempuri.org/obtenerCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebEjercicio1">
    <wsdl:port name="WebEjercicio1Soap" binding="tns:WebEjercicio1Soap">
      <soap:address location="https://localhost:44333/WebEjercicio1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebEjercicio1Soap12" binding="tns:WebEjercicio1Soap12">
      <soap12:address location="https://localhost:44333/WebEjercicio1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>